@import "tailwindcss";

@font-face {
  font-family: 'Kudry Weird';
  src: url('/font/kudry_weird-headline.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-custom: 'Kudry Weird', serif;
}

@theme {

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);

  --font-sans: var(--font-inter);
}

:root {
  --primary: #400b55;
  --secondary: #ce337e;
  --tertiary: #cbe054;
  --quaternary: #5c5c5c;

  --background: #FFFDF7;
  --foreground: #310641;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}