@import "tailwindcss";


@theme {

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);

  --font-sans: var(--font-inter);
}

:root {

  --primary: #18181b;

  --secondary: #6d0a5c;

  --tertiary: #FAFAF9;

  --quaternary: #6b6b70;

  --background: #faf9fa;
  --foreground: #18181b;
}

@keyframes revealUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal-up {
  animation: revealUp 0.9s cubic-bezier(0.16, 1, 0.3, 1) both;
}

.reveal-up-delay-1 {
  animation-delay: 0.1s;
}

.reveal-up-delay-2 {
  animation-delay: 0.2s;
}

.reveal-up-delay-3 {
  animation-delay: 0.3s;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}